.toggle_button{
    height:25px;
    width:30px;
    background: transparent;
    border:none;
    display:flex;
    flex-direction: column;
    padding:0;
    box-sizing:border-box;
    justify-content: space-around;
}
.toggle_button:focus{
    outline:none
}
.toggle_button_line{
    width:30px;
    height:2px;
    background: black;
}
@media(min-width:700px){
    .toggle_button{
        display: none;
    }
}